/* *colors
   bg #000
   orange #ff9501
   grey #a6a6a6
   white #fdfdfd
*/


.calc{
   margin: 50px auto;
   width: 300px;
   height: 500px;
   /* border:1px solid #000; */
   border-radius: 20px;
   background: #000;
   color: #fff;
   padding: 18px;
   box-shadow: 4px 4px 4px #4f4f4f;
}

.calc-screen{
   height: 100px;
   padding: 10px;
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
}

p{
   font-size: 4rem;
   margin: 0;
}

.line{
display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 8px;
}

.btn{
   width: 70px;
   height: 70px;
   background: #333;
   border-radius: 50%;
   color: #fff;
   font-size: 1.5rem;
   cursor: pointer;
   border: none;
}
.zero{
   width: 145px;
   border-radius: 34px;
}
.btn:hover{
   filter: brightness(120%)
}
.btn:active{
   filter: brightness(90%);
}

.btn.bg-grey{
   background: #a6a6a6;
}
.btn.bg-orange{
   background: #ff9501;
}